@font-face {
  font-family: "PP Mori"; font-style: italic; font-weight: 200; font-display: swap; src: url("/assets/PPMori-ExtralightItalic_062GeRs9nV3dH0l7aB2KO.woff2") format("woff2");
}
@font-face {
  font-family: "PP Mori"; font-style: italic; font-weight: 400; font-display: swap; src: url("/assets/PPMori-RegularItalic_k4J1dM1WRb6DB2q_bhtVr.woff2") format("woff2");
}
@font-face {
  font-family: "PP Neue Montreal"; font-style: normal; font-weight: 400; font-display: swap; src: url("/assets/PPNeueMontreal-Regular_lrLIR3ee1RHd1xFeFTxCY.ttf") format("truetype");
}
@font-face {
  font-family: "PP Mori"; font-style: normal; font-weight: 700; font-display: swap; src: url("/assets/PPMori-ExtraBold_QnUcWayo81H6ybMd0IVrQ.woff2") format("woff2");
}
@font-face {
  font-family: "PP Gosha Sans"; font-style: normal; font-weight: 700; font-display: swap; src: url("/assets/PPGoshaSans-Bold_0pdloCUdqC8fsgES0Xx6c.ttf") format("truetype");
}
@font-face {
  font-family: "PP Mori"; font-style: normal; font-weight: 200; font-display: swap; src: url("/assets/PPMori-Extralight_nONdvu0Hehny2F1FzFwxk.woff2") format("woff2");
}
@font-face {
  font-family: "NaN Metrify A TRIAL Standard"; font-style: normal; font-weight: 900; font-display: swap; src: url("/assets/NaNMetrifyA-TRIALStd-Blck_3SXpOdPdCwIKPTB8W2r4w.ttf") format("truetype");
}
@font-face {
  font-family: "PP Mori"; font-style: italic; font-weight: 600; font-display: swap; src: url("/assets/PPMori-SemiBoldItalic_6RNT3eS8IrW1MPGM-OH0q.woff2") format("woff2");
}
@font-face {
  font-family: "PP Mori"; font-style: italic; font-weight: 700; font-display: swap; src: url("/assets/PPMori-ExtraBoldItalic_wBH3DMs9YpZljfLMBAftV.woff2") format("woff2");
}
@font-face {
  font-family: "PP Mori"; font-style: italic; font-weight: 900; font-display: swap; src: url("/assets/PPMori-BookItalic_f33T_sxTpNg3F9RdFWwBT.woff2") format("woff2");
}
@font-face {
  font-family: "PP Mori"; font-style: normal; font-weight: 900; font-display: swap; src: url("/assets/PPMori-Book_WNrGXD10SX2qVbdkilwH8.woff2") format("woff2");
}
@font-face {
  font-family: "PP Mori"; font-style: normal; font-weight: 400; font-display: swap; src: url("/assets/PPMori-Regular_4_Y7NBbsKkzaZIA8NkX8-.woff2") format("woff2");
}
@font-face {
  font-family: "PP Mori"; font-style: normal; font-weight: 600; font-display: swap; src: url("/assets/PPMori-SemiBold_Affknn9U4ibE7TpakXB-U.woff2") format("woff2");
}@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box
  }
  body.w-element {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box
  }
  h1.w-element {
    box-sizing: border-box
  }
  h2.w-element {
    box-sizing: border-box
  }
  header.w-element {
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box
  }
  span.w-element {
    box-sizing: border-box
  }
  div.w-box {
    box-sizing: border-box
  }
  h1.w-heading {
    box-sizing: border-box
  }
  p.w-paragraph {
    box-sizing: border-box
  }
  a.w-link {
    box-sizing: border-box;
    display: inline-block
  }
  div.w-text {
    box-sizing: border-box;
    min-height: 1em
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
  img.w-image {
    box-sizing: border-box;
    max-width: 100%;
    display: block;
    height: auto
  }
}
@media all {
  .c1pmamtn {
    display: flex
  }
  .c1xgflv3 {
    justify-content: center
  }
  .c1jo5tbg {
    align-items: center
  }
  .c5tf688 {
    background-color: #ffffff
  }
  .c2z4q9g {
    position: relative
  }
  .cuyj2c {
    text-align: center
  }
  .cze7tgv {
    font-weight: 900
  }
  .c1uf6gp5 {
    font-size: 8rem
  }
  .c16shzhh {
    line-height: 1
  }
  .c1jwwzyo {
    letter-spacing: -0.05em
  }
  .c1rvee0s {
    position: absolute
  }
  .c1gnstvv {
    top: 0
  }
  .c12hnoj {
    right: -0.125rem
  }
  .c1s84xtw {
    bottom: 0
  }
  .c1c0ddk {
    left: 0.125rem
  }
  .cl4ktzx {
    opacity: 0.3
  }
  .cf8jutm {
    right: 0.125rem
  }
  .cxhlit2 {
    left: -0.125rem
  }
  .cwimzng {
    top: 50%
  }
  .cpwzg5c {
    left: 0
  }
  .cs9gzdy {
    width: 100%
  }
  .c16u47l2 {
    height: 0.375rem
  }
  .c2ec6lv {
    margin-top: 1.5rem
  }
  .covlakf {
    font-weight: 700
  }
  .c1gu6afd {
    font-size: 1.5rem
  }
  .cdv4tzb {
    line-height: 2rem
  }
  .cdzpd3k {
    letter-spacing: 0.05em
  }
  .c1vndec1 {
    display: inline-flex
  }
  .cz6uwb {
    row-gap: 6px
  }
  .c9g51w8 {
    column-gap: 6px
  }
  .c1qina7l {
    position: fixed
  }
  .c1uir0hv {
    z-index: 1000
  }
  .c10qemqc {
    padding-top: 6px
  }
  .cwtem0s {
    padding-right: 10px
  }
  .c1a4nwk4 {
    padding-bottom: 6px
  }
  .c9902ha {
    padding-left: 10px
  }
  .cpmnivi {
    right: 16px
  }
  .c131pgw4 {
    bottom: 16px
  }
  .ctc53nv {
    color: rgb(251 252 253 / 1)
  }
  .cnsq5pm {
    font-family: system-ui, sans-serif
  }
  .c1jg1df0 {
    font-size: 12px
  }
  .cl95v1y {
    font-weight: 500
  }
  .cgel4jb {
    border-top-left-radius: 9px
  }
  .csvk2wu {
    border-top-right-radius: 9px
  }
  .c1mzwfmi {
    border-bottom-right-radius: 9px
  }
  .cwegbxl {
    border-bottom-left-radius: 9px
  }
  .c85x781 {
    text-decoration-line: none
  }
  .c1ttd7a8 {
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box
  }
  .coy7tla {
    background-origin: padding-box, border-box
  }
  .c1hqpf3q {
    background-image: linear-gradient(135deg,#4a4efa 0%,#bd2fdb 66%,#ec59ce 100%), linear-gradient(135deg,#92fddc 0%,#7d7ffb 31.94%,#ed72fe 64.24%,#fdd791 100%)
  }
  .c1ax4f02 {
    border: 1px solid transparent
  }
  .c1atyyva {
    white-space: nowrap
  }
  .c9fk8uj {
    display: block
  }
  .c1xgicr8 {
    width: 16px
  }
  .c9k7mbd {
    height: 16px
  }
  .ca9uefi {
    flex-shrink: 0
  }
  :root {
    background-image: none
  }
  .c16o42s9 {
    background-color: #1f352f
  }
  .cmuvxqv {
    padding-top: 60px
  }
  .c1gd5515 {
    z-index: 1
  }
  .c107mqr1 {
    background-image: none
  }
  .c14xpwmx {
    background-size: auto auto
  }
  .cwdmasm {
    background-repeat: repeat
  }
  .ciefe8a {
    background-attachment: scroll
  }
  .c1vilc11 {
    background-origin: padding-box
  }
  .c60vy8 {
    -webkit-background-clip: border-box;
    background-clip: border-box
  }
  .c11ka3c {
    background-color: hsl(121 3.45% 34.8% / 0)
  }
  .c1ssvogt {
    width: auto
  }
  .ck3a6vq {
    top: -32px
  }
  .c1trv315 {
    right: auto
  }
  .cw5xqyu {
    left: auto
  }
  .c6corq {
    padding-top: 0px
  }
  .cyin3no {
    padding-bottom: 18px
  }
  .cdepr1w {
    padding-left: 0px
  }
  .cez508d {
    justify-content: space-between
  }
  .cbn9fyj {
    align-items: flex-end
  }
  .c17lbged {
    column-gap: 40px
  }
  .c1yd9297 {
    row-gap: 40px
  }
  .cpb83sz {
    border-bottom: 2px solid #bebebe
  }
  .ce1yi6i {
    background-position: 0% 0%
  }
  .c10yblei:before {
    content: " "
  }
  .csnfwyd:before {
    grid-row-start: 1
  }
  .c1mjcjrb:before {
    grid-column-start: 1
  }
  .cn6nxvt:before {
    grid-row-end: 2
  }
  .c8usc85:before {
    grid-column-end: 2
  }
  .c1722awv:before {
    display: table
  }
  .c1gj3fnc:after {
    content: " "
  }
  .clyipar:after {
    grid-row-start: 1
  }
  .caiz32p:after {
    grid-column-start: 1
  }
  .c15v7qqd:after {
    grid-row-end: 2
  }
  .c1tqbmju:after {
    grid-column-end: 2
  }
  .cz59kkh:after {
    display: table
  }
  .c101uvd8:after {
    clear: both
  }
  .c18znrhs {
    margin-top: auto
  }
  .cdmgm0m {
    margin-right: auto
  }
  .c7bwsg2 {
    margin-left: auto
  }
  .ca7bs4t {
    padding-left: 130px
  }
  .c1nb70ul {
    flex-direction: column
  }
  .c771430 {
    justify-content: flex-start
  }
  .c1gtwe88 {
    flex-wrap: nowrap
  }
  .c17k3sj5 {
    align-self: flex-start
  }
  .cxmtpu8 {
    flex-grow: 0
  }
  .c1612k1t {
    flex-shrink: 1
  }
  .c5k5yqr {
    flex-basis: auto
  }
  .c1uj1b52 {
    grid-auto-columns: 1fr
  }
  .c10mtka {
    column-gap: 0px
  }
  .cqnnjlp {
    row-gap: 0px
  }
  .c16fd9wg {
    grid-template-columns: 1fr 1fr
  }
  .c17syjs3 {
    grid-template-rows: auto auto
  }
  .c1h79hp4 {
    overflow-x: visible
  }
  .c16p169y {
    overflow-y: visible
  }
  .cyc9d48 {
    box-sizing: border-box
  }
  .c1w3euwl {
    margin-bottom: 0px
  }
  .crsit91 {
    padding-bottom: 0px
  }
  .c1udkgxc {
    object-fit: fill
  }
  .c11jgpu4 {
    margin-top: 50px
  }
  .c2eltoq {
    margin-right: 0px
  }
  .c1killdp {
    margin-left: 0px
  }
  .cpphq8o {
    margin-top: 0px
  }
  .c18fwely {
    margin-right: 0
  }
  .c1l5j34b {
    margin-bottom: 10px
  }
  .cqvu9dj {
    margin-left: 0
  }
  .cnpuwnr {
    font-size: 50px
  }
  .crlvfkh {
    font-weight: bold
  }
  .cvwfpl3 {
    line-height: 55px
  }
  .c1hmqx5n {
    max-width: 20ch
  }
  .c2n39l7 {
    order: 0
  }
  .cyxyaon {
    font-family: "PP Gosha Sans", sans-serif
  }
  .c9j41e0 {
    color: #cdb9d8
  }
  .c1k1w3lf {
    margin-top: 0
  }
  .c7moq2v {
    max-width: 60ch
  }
  .c5e3hvd {
    min-width: 45px
  }
  .c1ckzkxr {
    padding-top: 9px
  }
  .c8g4f0z {
    padding-right: 0px
  }
  .c1fuz7qx {
    align-self: auto
  }
  .c1xr2s24 {
    font-family: "PP Neue Montreal", sans-serif
  }
  .c1jo75us {
    color: #bebebe
  }
  .c6vtb6j {
    font-size: 20px
  }
  .cc3nov9 {
    line-height: 24px
  }
  .c1u94n63 {
    margin-bottom: 64px
  }
  .c132re45 {
    align-self: stretch
  }
  .ct4sujx {
    column-gap: 29px
  }
  .cjwfj78 {
    row-gap: 29px
  }
  .c1sqm0uy {
    border-top-left-radius: 0px
  }
  .c1xlne93 {
    border-top-right-radius: 0px
  }
  .c1xwhhxx {
    border-bottom-left-radius: 0px
  }
  .cbjaddb {
    border-bottom-right-radius: 0px
  }
  .c1crj8n1 {
    background-color: hsl(127 46.7% 56.22% / 1)
  }
  .c170q8jk {
    color: hsl(109 95.65% 6.81% / 1)
  }
  .cf2jlwk {
    line-height: inherit
  }
  .cb0dmkf {
    cursor: auto
  }
  .c16aiqev {
    border-top-left-radius: 6px
  }
  .cv4etkq {
    border-top-right-radius: 6px
  }
  .c1ntrdgi {
    border-bottom-right-radius: 6px
  }
  .c1dz3htx {
    padding-top: 20px
  }
  .c1rqmj2c {
    padding-right: 40px
  }
  .c9fo71q {
    padding-bottom: 20px
  }
  .c1emfp4o {
    padding-left: 40px
  }
  .c58qnb7 {
    text-decoration-style: solid
  }
  .c11nd74n {
    text-decoration-color: currentcolor
  }
  .c14zfp4g {
    display: inline-block
  }
  .c1f5qj7b {
    appearance: button
  }
  .c14hoolr {
    font-family: "NaN Metrify A TRIAL Standard", sans-serif
  }
  .c11ocdmw {
    border-bottom-left-radius: 6px
  }
  .cq3ftvj {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
  }
  .c4rig2c {
    transition-property: transform, box-shadow
  }
  .c1wk0j6a {
    transition-duration: 200ms, 200ms
  }
  .c1u8a39c {
    transition-timing-function: ease, ease
  }
  .c1t6plr9 {
    border: 3px none hsl(283 64.89% 0% / 1)
  }
  .ce0okz7:active {
    outline: 0 none currentcolor
  }
  .c1ouus61:hover {
    box-shadow: 0px 2px 10px 5px rgb(0 0 0 / 0.5)
  }
  .c88r0rg:hover {
    outline: 0 none currentcolor
  }
  .c1vnbn4w {
    background-color: hsl(316 60.02% 68.31% / 1)
  }
  .c102fxno {
    background-color: hsl(200 46.7% 56.22% / 1)
  }
  .co7ha2w {
    left: 0%
  }
  .cj9umz3 {
    top: auto
  }
  .c10mvydg {
    right: 0%
  }
  .c1ypxaph {
    bottom: 20%
  }
  .c70ei1s {
    padding-left: 122px
  }
  .cgsnbc4 {
    font-family: "PP neue montreal", sans-serif
  }
  .c1lg835j {
    padding: 0px
  }
  .c1ohbjsd {
    max-width: 940px
  }
  .cm730mb {
    margin-right: 29px
  }
  .cz0ihdn {
    line-height: 16px
  }
  .cq8b1gm {
    background-color: rgb(0 0 0 / 0)
  }
  .c1oze40s {
    vertical-align: top
  }
  .c1ms9765 {
    text-align: left
  }
  .c1o0t0md {
    padding-left: 17px
  }
  .c2slqn0 {
    position: static
  }
  .c1nbjqbc:hover {
    color: #cdb9d8
  }
  .c1asi3hl {
    float: right
  }
  .c5ntwqm {
    cursor: pointer
  }
  .c1p0p853 {
    -webkit-tap-highlight-color: rgb(0 0 0 / 0)
  }
  .c1wz7w08 {
    -webkit-user-select: none;
    user-select: none
  }
  .c16w6bl5 {
    font-size: 24px
  }
  .c1kc4rp9 {
    display: none
  }
  .cezfhvi {
    color: rgb(255 255 255 / 1)
  }
  .cvb7juy {
    background-color: rgb(200 200 200 / 1)
  }
  .c1yo4swh {
    padding: 18px
  }
  .c128vwl4:focus {
    outline: 0 none currentcolor
  }
  .c9i2am4:before {
    content: "î˜‚"
  }
  .c1ck1v1r {
    background-color: hsl(284 0% 0% / 1)
  }
  .cioxh9z {
    background-image: linear-gradient(rgb(0 0 0 / 1) 0%, rgb(0 0 0 / 1) 100%)
  }
  .cydwfje {
    padding-left: 3rem
  }
  .ckbgp3o {
    padding-right: 3rem
  }
  .c1a7sqay {
    padding-top: 1rem
  }
  .ccv4180 {
    padding-bottom: 1rem
  }
  .c1p0nxxt {
    margin-right: 0rem
  }
  .c1rqxshr {
    margin-left: 0rem
  }
  .c5y8hx0 {
    position: sticky
  }
  .cx0dzkn {
    top: 0px
  }
  .c1dm9f9e {
    grid-column-start: span 1
  }
  .c3vadkh {
    grid-column-end: span 1
  }
  .c8734jr {
    grid-row-start: span 1
  }
  .cf1pzdg {
    grid-row-end: span 1
  }
  .c15jxv3i {
    margin-bottom: 2rem
  }
  .cbwbd30 {
    padding-bottom: 0.5rem
  }
  .c1gityy6 {
    color: hsl(300 0% 100% / 1)
  }
  .c12gz2u6 {
    padding-top: 0.5rem
  }
  .c1afhbe7 {
    transition-property: all
  }
  .c112iahb {
    transition-duration: 200ms
  }
  .cr2eqlq {
    transition-timing-function: ease
  }
  .c7l35c8 {
    transition-delay: 5ms
  }
  .c1e12803 {
    transition-behavior: normal
  }
  .c1asdf46 {
    background-color: hsl(261 0% 0% / 1)
  }
  .c1i9wn5g {
    font-weight: 400
  }
  .c13fy17c {
    font-size: 2rem
  }
  .caldv5i {
    text-align: start
  }
  .cflhtbc {
    align-self: flex-end
  }
  .c145v2hb {
    margin-top: 0em
  }
  .c1nvm1e2 {
    margin-bottom: 0em
  }
  .c11b8y7p {
    justify-content: flex-end
  }
  .c9gybr1 {
    border-top-color: hsl(300 0% 0% / 0)
  }
  .coppku7 {
    border-right-color: hsl(300 0% 0% / 0)
  }
  .c7hlbf1 {
    border-bottom-color: hsl(300 0% 0% / 0)
  }
  .chnuqgv {
    border-left-color: hsl(300 0% 0% / 0)
  }
  .cww79fw {
    line-height: 1.5rem
  }
  .c4wv1sb {
    width: fit-content
  }
  .cyl4ruk {
    align-self: center
  }
  .c21oh2i {
    padding-left: 0.5rem
  }
  .cy2td3r {
    color: hsl(300 30% 100% / 1)
  }
  .c180oei2 {
    margin: 0px
  }
  .c10utuv2 {
    color: hsl(100 52% 54% / 1)
  }
  .cwodw59 {
    font-size: 1.7rem
  }
  .c1ncl8nx {
    color: rgb(117 199 77 / 1)
  }
  .c1cwxjj6 {
    width: 52ch
  }
  .c1ypy74x {
    padding-left: 4rem
  }
  .cbzc3j5 {
    padding-right: 4rem
  }
  .c15i8137 {
    z-index: 100
  }
  .cj19r94 {
    color: hsl(141 100% 76% / 1)
  }
  .c1eq90oq {
    column-gap: 16px
  }
  .c9n4ez2 {
    row-gap: 16px
  }
  .caxkdu5 {
    display: grid
  }
  .ce32buc {
    align-items: start
  }
  .c1ydnkla {
    border-right-color: hsl(295 95% 66% / 1)
  }
  .cuux6af {
    border-bottom-color: hsl(295 95% 66% / 1)
  }
  .c1bcei61 {
    border-left-color: hsl(295 95% 66% / 1)
  }
  .colidgn {
    flex-wrap: wrap
  }
  .ctivmsr {
    align-content: start
  }
  .c1y1e4qt {
    grid-template-rows: 1fr 1fr
  }
  .ch73ipk {
    justify-items: start
  }
  .c1jfy20e {
    border-top: 5px solid hsl(295 95% 66% / 1)
  }
  .c1syh61u {
    outline-style: none
  }
  .ch4bzm4 {
    background-color: transparent
  }
  .cm3shcu {
    flex-grow: 1
  }
  .cb1exuz {
    aspect-ratio: 4/3
  }
  .c1enfllu {
    object-fit: contain
  }
  .c18w8xyq {
    height: 100%
  }
  .croeuxe {
    max-width: fit-content
  }
  .c1ggpt1j {
    outline-color: oklch(0.03 0.004 336 / 1)
  }
  .c1qfylyx {
    padding: 0
  }
  .c1sk8w78:hover {
    scale: 102% 102% 100%
  }
  .c16eaown:hover {
    display: block
  }
  .c24fp2a {
    background-color: rgb(255 71 20 / 1)
  }
  .c10qrqa6 {
    overflow-x: clip
  }
  .c8i27jh {
    overflow-y: clip
  }
  .c1e77v0d {
    padding-left: 0
  }
  .cntvg0t {
    padding-right: 0
  }
  .cr9x4r9 {
    color: white
  }
  .czf8olt {
    background-color: hsl(0 100% 100% / 1)
  }
}
@media all and (max-width: 991px) {
  .c7n1gk6 {
    display: none
  }
  .ckzgi9a {
    position: absolute
  }
  .cn9fis {
    top: auto
  }
  .c1xqu59i {
    bottom: 14%
  }
  .cylzj05 {
    display: block
  }
  .clps2xo {
    padding-top: 56px
  }
  .c164cme8 {
    padding-left: 56px
  }
  .c1f2nj73 {
    max-width: 728px
  }
}
@media all and (max-width: 767px) {
  .c42zyce {
    display: none
  }
  .cwmtqn1 {
    padding-left: 21px
  }
  .c1eukmtm {
    column-gap: 0px
  }
  .c16c8uil {
    row-gap: 0px
  }
  .c2tg5kv {
    column-gap: 10px
  }
  .cb3zv8h {
    row-gap: 10px
  }
  .cscq89m {
    bottom: 13%
  }
  .cfemil6 {
    padding-top: 0px
  }
  .ctaiwp5 {
    padding-left: 13px
  }
  .c1925nrm {
    line-height: 13px
  }
  .c7hkhm8 {
    margin-right: -20px
  }
  .cxzdltv {
    margin-left: 0px
  }
  .c12ct4za {
    padding-right: 0px
  }
  .cbkqa6t {
    align-self: auto
  }
  .chkblx2 {
    flex-grow: 0
  }
  .c1rxlz40 {
    flex-shrink: 0
  }
  .c1dsbtse {
    flex-basis: auto
  }
  .c8dhohm {
    line-height: 12px
  }
}
@media all and (max-width: 479px) {
  .cbgu6dt {
    display: none
  }
  .c185804k {
    padding-bottom: 59px
  }
  .c16q7kzm {
    margin-bottom: 26px
  }
  .c1ig81m6 {
    padding-right: 7px
  }
  .c1usqjft {
    padding-left: 0px
  }
  .c1fpzyr8 {
    flex-direction: column
  }
  .cdn232w {
    justify-content: flex-start
  }
  .c1054tb3 {
    flex-wrap: nowrap
  }
  .c4fscnt {
    align-items: center
  }
  .c1j9bzxn {
    align-self: flex-start
  }
  .c1lthzdz {
    column-gap: 0px
  }
  .c7b9lbl {
    row-gap: 0px
  }
  .c2zjgwx {
    margin-left: auto
  }
  .c1jmjbut {
    justify-content: center
  }
  .cziclp0 {
    margin-left: 30px
  }
  .c1kcosf1 {
    margin-right: auto
  }
  .c39rlbe {
    margin-top: 20px
  }
  .c1t0fbbo {
    font-size: 35px
  }
  .c1m8scem {
    max-width: none
  }
  .cjq3i40 {
    flex-grow: 0
  }
  .cs1dfu3 {
    flex-shrink: 1
  }
  .cz95xv0 {
    flex-basis: auto
  }
  .c1x8c3g4 {
    line-height: 39px
  }
  .c19wl1mz {
    font-size: 15px
  }
  .c8ii1ro {
    max-width: 28ch
  }
  .c1andk5f {
    min-width: 15ch
  }
  .c1ul7zfv {
    line-height: 17px
  }
  .c474mws {
    margin-bottom: 43px
  }
  .c150mdvp {
    margin-top: 15px
  }
  .cshyuxo {
    box-sizing: border-box
  }
  .cnk4s3i {
    align-items: flex-start
  }
  .c1r1gkmc {
    align-self: stretch
  }
  .chew6l2 {
    column-gap: 17px
  }
  .c1tyd1nd {
    row-gap: 17px
  }
  .czte5aw {
    position: static
  }
  .cxrwizz {
    left: 8px
  }
  .cxf3ms2 {
    position: relative
  }
  .c1f738tz {
    right: 36%
  }
  .cth9q68 {
    bottom: 1px
  }
  .c1fz3eq7 {
    z-index: auto
  }
  .c1afc7lm {
    margin-top: 30px
  }
  .c1l47t7s {
    padding-left: 18px
  }
  .cmtzdtm {
    font-size: 10px
  }
  .cqgheqg {
    line-height: 12px
  }
  .c1uuy6wp {
    font-size: 18px
  }
  .ch0bly2 {
    color: hsl(278.7097 28.44% 78.63% / 1)
  }
  .c1f0iqtt {
    font-size: 50px
  }
}